/* CONTACT */
#contact {
  padding: 130px 100px;
  text-align: center;
  scroll-snap-align: start;
}

.contact-area {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;

}

.contact-area p {
  margin: 0;
  font-size: 1rem;
}

#contact button {
  width: 100%;
  margin-top: 30px;
  padding: 1rem;
  border-radius: 0.3rem;
  backdrop-filter: blur(10px);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.4s, background 0.4s;
  border: 1px solid var(--color-special);

  &:hover {
    background: var(--color-special);
    color: #fff;
    transition-delay: 0s;
  }

  &:not(:hover) {
    transition-delay: 0.1s;
  }
}

.col-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr;
}

input,
textarea {
  width: 100%;
  margin-bottom: 0.8rem;
  padding: 1rem;
  background: transparent;
  border: 1px solid var(--border);
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: var(--text-color);
  resize: none;
  outline: none;
}

::placeholder {
  font-weight: 500;
  color: var(--text-color-2);
}

@media (max-width: 992px) {
  #contact {
    padding: 100px 50px;
  }
}

@media (max-width: 768px) {
  #contact {
    padding: 100px 30px;
  }

  .contact-area {
    flex-direction: column;
  }

  form {
    width: 100%;
    padding: 0;
  }
}