/* HOME */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 92vh;
    text-align: center;
    flex-direction: column;
    scroll-snap-align: start;
}

#home h1 {
    display: inline;
    font-size: 4rem;
}

#home p {
    color: var(--text-color-2);
    font-size: 0.9rem;
    line-height: 160%;
    text-shadow: 1px 1px 2px rgba(82, 82, 82, 0.368);
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-width: 992px) {
    #home {
        padding: 50px 24px;
    }

    #home h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    #home h1 {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 460px) {
    #home h1 {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 320px) {
    #home h1 {
        font-size: 1.5rem;
    }
}