header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 40px;
    z-index: 999;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    z-index: 999;
}

ul {
    position: fixed;
    height: 70vh;
    width: 0;
    top: 0;
    right: 1px;
    background-color: var(--header);

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 998;


    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: width 0.5s;
}

.open {
    width: 350px;

}

ul li {
    padding-bottom: 2rem;
}

ul li a {
    position: relative;
    padding: 2rem;
    color: var(--text-color);
    font: 500 1.2rem/140% 'Inter', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: color 0.5s ease;
}

.hamburger-react {
    position: absolute;
    display: flex;
    z-index: 999;
}

nav ul span {
    padding: 2rem;
    color: var(--text-color-2);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .open {
        width: 100%;
    }

    ul {
        height: 100vh;
        width: 0;
        border-radius: 0;
        top: 0;
        right: 0;
    }
}

#logo,
#logo a {
    margin: 0;
    font: 700 1.2rem/1px 'Inter', sans-serif;
    text-transform: uppercase;
    color: var(--text-color-2);
    z-index: 9999;
    transition: transform 0.3s;

    &:hover {
        transform: rotate(3deg) translateY(5px);
    }
}

nav .theme-icon {
    padding: 0 2rem;
    color: var(--text-color);
    max-width: 600px;
    font: 400 1.2rem/140% 'Inter', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* ICONS */
.icons {
    position: relative;
    display: inline-flex;
    gap: 1rem;
    padding: 0 2rem;
}

.icons svg {
    color: var(--text-color-2);
    font-weight: 500;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.icons svg:hover {
    transform: translateY(-10px);
    transition-delay: 0s;
    color: var(--color-special);
}

.icons svg:not(:hover) {
    transition-delay: 0.2s;
}